::selection {
  background: gold;
  color: black;
}

:root {
  color: snow;
  background: indigo;
}

header {
  color: black;
  background: crimson;
}

@media
  (prefers-contrast: less),
  (prefers-color-scheme: light) {
  :root {
    color: black;
    background: steelblue;
  }
}

:link,
:visited {
  color: inherit;
  text-decoration-style: double;
}

:focus {
  outline-color: currentColor;
}
